@keyframes slidein {
    from {
        margin-left: 5%;
        opacity: 0%;
    }

    to {
        margin-left: 0%;
        opacity: 100%;
    }
}

body {
    animation-duration: 2s;
    animation-name: slidein;
    margin: 0px;
    padding: 0px;
    font-family: 'Akshar', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    background: linear-gradient(90deg, rgba(239, 221, 222, 1) 60%, rgba(255, 254, 254, 1) 100%);
}

.back-line {
    z-index: -1;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.25);
    height: 100%;
    left: 3.3rem;
}

div,
a,
p,
h1,
h3,
h2,
h4 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    line-height: 3.2rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    line-height: 3.2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #A76E7A;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

header {
    z-index: 2;
    position: sticky;
    top: 0rem;
    padding: 0rem 3.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background: rgb(242, 228, 229);
    background: linear-gradient(90deg, rgba(242, 228, 229, 1) 60%, rgba(253, 253, 253, 1) 100%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

header>a {
    height: 5vh;
}

header>a>img {
    height: 5vh;
}

.header-options {
    display: flex;
}

.header-options>a {
    display: flex;
    width: 150px;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    letter-spacing: 0.15rem;
}

.op-default>img {
    height: 1rem;
    margin-right: 0.5rem;
    display: none;
}

.op-default:hover {
    transition: 300ms all;
    cursor: pointer;
    color: #A76E7A;
    background-color: rgba(255, 255, 255, 0.3);
}

.op-active {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
}

.op-active>img {
    height: 1rem;
    margin-right: 0.5rem;
    display: block;
}

.op-active:hover {
    transition: 300ms all;
    cursor: pointer;
    color: #A76E7A;

    >img {
        animation-name: rotate;
        animation-duration: 3s;
    }
}

.container {
    padding: 1.5rem 3.5rem 1rem 3.5rem;
}

.samples{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.samples > img{
    height: 3rem;
    margin-bottom: 1rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.hero {
    margin: 3.5rem 0rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.hero-left {
    width: 50%;
}

.hero-rigth>img {
    width: 60vh;
}

.align-left {
    position: absolute;
    width: 25%;
    padding: 20vh 7.6vh;
}

.align-rigth {
    position: absolute;
    padding: 20vh 7.6vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.align-rigth>p,
.align-rigth>h2 {
    text-align: end;
}

.align-rigth>p,
h2,
.align-left>p,
h2 {
    color: white;
    margin-bottom: 0.7rem;
}

.align-rigth>button,
.align-left>button {
    margin-top: 0.7rem;
}

.proyect-left {
    margin: 15vh 0vh;
    overflow: hidden;
    display: flex;
    justify-content: start;
}

.proyect-rigth {
    margin: 15vh 0vh;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.proyect-left:hover {
    .background-gym {
        transform: scale(1.1);
    }

    .background-makeup {
        transform: scale(1.1);
    }
}

.proyect-rigth:hover {
    .background-tech {
        transform: scale(1.1);
    }

    .background-xid{
        transform: scale(1.1);
    }
}

button {
    transition: 500ms all;
    background-color: white;
    width: fit-content;
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    letter-spacing: 0.15rem;
    font-family: 'Akshar', sans-serif;
}

button:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.float{
    position: fixed;
    top: 12vh;
    right: 1vh;
    background-color: #000000;
}

.background-gym {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 639px;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1699300186/UI%20UX%20Portafolio%20%282023%29/Proyectos/yr1x6bpwvuw4ysybitgr.png);
    background-position: center;
    background-size: cover;
    transition: 300ms all;
}

.gym {
    color: #738450;
}

.background-tech {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 639px;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1699938466/UI%20UX%20Portafolio%20%282023%29/Proyectos/fm8tehbomv379wq9oiyz.png);
    background-position: center;
    background-size: cover;
    transition: 300ms all;
}

.tech {
    color: #514A9D;
}

.background-makeup {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 639px;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1699300185/UI%20UX%20Portafolio%20%282023%29/Proyectos/eplpr1fqgqfaqjriafbe.png);
    background-position: center;
    background-size: cover;
    transition: 300ms all;
}

.makeup {
    color: #A76E7A;
}

.background-xid{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 639px;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1712625254/UI%20UX%20Portafolio%20%282023%29/Proyectos/Proyecto_4_ovf3pz.png);
    background-position: center;
    background-size: cover;
    transition: 300ms all;
}

.xid{
    color: #1a99c7;
}

.proyect {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 10rem 1rem 10rem;
}

.proyect>img {
    width: 100%;
}


.proyect>iframe {
    height: 85vh;
}

.mobile-menu {
    display: none;
}

.mobile-submenu {
    position: fixed;
    padding: 0.5rem 0.8rem;
    top: 18vh;
    right: 1vh;
    background-color: #000000;
    border-radius: 15px;
    color: white;
}

.mobile-submenu:hover {
    background-color: #0f0f0f;
    cursor: pointer;
}

.mobile-submenu>i {
    margin-left: 6rem;
}

.submenu {
    display: none;
    position: fixed;
    width: 15rem;
    flex-direction: column;
    height: auto;
    padding: 0rem;
    top: 24vh;
    right: 1vh;
    background-color: #000000ad;
    border-radius: 15px;
}

.submenu :hover {
    background-color: #ffffff33;
}

.submenu>a {
    height: auto;
    text-align: end;
    color: white;
    padding: 0.5rem 0.8rem;
    font-weight: 100;
    text-decoration: none;
}

.submenu>a>p {
    font-size: 1rem;
    text-align: right;
}

.submenu>a:hover {
    color: #000000;
    font-weight: 500;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8rem 3.5rem;
    margin: 10rem 0rem;
}

.no-back {
    padding: 4rem 3.5rem;
    background-color: rgba(255, 255, 255, 0);
}

.no-back>h3 {
    margin-bottom: 1.5rem;
}

.contact>img {
    height: 3rem;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.contact>img,
.contact>h1 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.contact>p {
    margin-bottom: 1.5rem;
}

.social {
    display: flex;
}

.social>a>i {
    font-size: 3h;
    color: #A76E7A;
}

.social>a {
    width: 3vh;
    height: 3vh;
    border: 3px solid #A7717D;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-right: 1.5rem;
    text-align: center;
    transition: 500ms all;
}

.social>a :hover,
.social>a:hover {
    border-color: #74404b;
    color: #74404b;
    transform: scale(1.05);
}

.about-like {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6rem 3.5rem;
    margin: 10rem 0rem;
}

.album {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.album-photo {
    width: 32%;
}

.practice {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.practice>h1 {
    margin-bottom: 1rem;
}


.album-photo>img {
    width: 100%;
    margin-bottom: 1rem;
}

@keyframes growUp {
    from {
        Top: 100%;
        opacity: 0%;
    }

    to {
        top: 0px;
        opacity: 100%;
    }
}

@keyframes growBack {
    from {
        top: 0px;
        opacity: 100%;
    }

    to {
        Top: 100%;
        opacity: 0%;
    }
}

.modal {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}

.close {
    height: 1rem;
    display: flex;
    justify-content: end;
    margin-top: 2.5rem;
    margin-right: 2rem;
    color: white;
    cursor: pointer;
}

.figma {
    text-align: center;
}

.figma>iframe {
    margin-top: 3rem;
    width: 60%;
    height: 75vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

footer>p,
footer>h3 {
    color: #916C6D;
    line-height: 1rem;
}

footer>h3 {
    line-height: 2rem;
}


@media only screen and (max-width: 1366px) {
    .mobile-submenu {
        top: 19vh;
        right: 2vh;
    }

    .mobile-submenu>i {
        margin-left: 4rem;
    }

    .submenu {
        top: 27vh;
        right: 2vh;
        width: 13rem;
    }
}

@media only screen and (max-width: 768px) {
    .back-line {
        left: 2rem;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 2.3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    header {
        padding: 0rem 2rem;
    }

    header>a {
        height: 4vh;
    }

    header>a>img {
        height: 4vh;
    }

    .header-options>a {
        width: auto;
        padding: 2rem 0.5rem 0.5rem 0.5rem;
        letter-spacing: 0.15rem;
    }

    .samples > p {
        text-align: center;
    }

    .op-default>img {
        height: 1rem;
        margin-right: 0.5rem;
    }

    .op-active,
    .op-default {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .hero {
        margin: 4rem 0rem 3rem 0rem;
        padding: 0rem 2rem;
    }

    .hero-left {
        width: 55%;
    }

    .hero-rigth {
        width: 40%;
    }

    .hero-rigth>img {
        width: 100%;
    }


    .proyect-left {
        margin: 10vh 0vh;
    }

    .proyect-rigth {
        margin: 10vh 0vh;
    }


    .align-left,
    .align-rigth {
        width: 50%;
        padding: 8vh 4vh;
    }

    .background-gym,
    .background-tech,
    .background-makeup, .background-xid {
        height: 41vh;
    }

    .contact {
        padding: 2.5rem 3.5rem;
        margin: 5rem 0rem;
    }

    .about-like {
        padding: 4rem 2rem;
        margin: 5rem 0rem;
    }

    .album {
        flex-direction: column;
    }

    .album-photo {
        width: 100%;
        margin-bottom: 2rem
    }

    .album-photo>img {
        height: 25vh;
        object-fit: cover;
        object-position: 0vh 25%;
    }

    .practice {
        width: 100%;
        margin-bottom: 5rem
    }

    .proyect {
        padding: 0rem 2rem 4rem 2rem;
    }

    .mobile-submenu {
        top: 18vh;
        right: 2vh;
    }

    .mobile-submenu>i {
        margin-left: 4rem;
    }

    .submenu {
        top: 25vh;
        right: 2vh;
        width: 13rem;
    }

    .figma>iframe {
        width: 90%;
    }
}


@media only screen and (max-width: 720px) {

    p {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .back-line {
        left: 1rem;
    }

    header {
        height: auto;
        align-items: start;
        padding: 1.2rem 1rem 0.4rem 1rem;
    }

    header>a {
        height: 4vh;
        margin-bottom: 0.1rem;
    }

    .mobile-menu {
        display: flex;
        align-items: start;
        color: #000000;
        font-size: 1.4rem;
    }

    .mobile-submenu {
        top: 16vh;
        right: 1rem;
    }

    .mobile-submenu>i {
        margin-left: 5rem;
    }

    .float{
        top: 10vh;
        right: 1rem;
        font-size: 0.9rem;
    }

    .submenu {
        top: 23vh;
        right: 1rem;
        width: 15rem;
        font-size: 1.2rem;
    }

    .header-options {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        left: 0rem;
    }

    .header-options>a {
        padding: 0.8rem 1rem 0.8rem 1rem;
        font-size: 1rem;
        margin: 0rem;
        justify-content: start;
    }

    .op-default>img {
        height: 1rem;
        margin: 0rem;
    }

    .samples{
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
    
    .samples > img{
        height: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .samples > p {
        text-align: center;
    }

    .hero {
        margin: 2.5rem 1rem 4rem 1rem;
        padding: 0rem;
        justify-content: space-between;
    }

    .hero-left {
        width: 50%;
    }

    .hero-rigth {
        width: 45%;
    }

    .align-left,
    .align-rigth {
        width: auto;
        padding: 4.9rem 4vh;
        background-color: #00000025;
    }

    .background-gym,
    .background-tech,
    .background-makeup, .background-xid {
        height: 20rem;
    }

    .contact {
        padding: 3rem 2rem;
        margin: 5rem 0rem 7rem 0rem;
    }

    .social>a {
        margin: 0rem 1rem;
    }

    footer {
        margin-bottom: 1.5rem;
    }

    footer>p {
        margin-bottom: 0.2rem;
    }

    footer>h3 {
        margin-bottom: 0.5rem;
    }

    .about-like {
        padding: 3rem 1rem;
        margin: 5rem 0rem;
    }

    .album{
        padding: 0rem;
    }

    .album-photo>img {
     margin-bottom: 1.5rem;
    }

    .close {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .figma>iframe {
        margin-top: 2rem;
        width: 90%;
        height: 82vh;
    }


    .proyect {
        padding: 0rem 1rem 4rem 1rem;
    }
}


@media only screen and (max-width:360px) {
    .back-line {
        left: 1rem;
    }

    body {
        font-size: 1rem
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        line-height: 1rem;
    }

    p {
        line-height: 1.1rem;
    }

    header {
        align-items: start;
        padding: 0.9rem 1rem 0.4rem 1rem;
    }

    header>a {
        height: 4vh;
    }

    header>a>img {
        height: 4vh;
    }

    .mobile-menu {
        display: flex;
        align-items: start;
        color: #000000;
        font-size: 1rem;
    }

    .mobile-submenu {
        top: 15vh;
        font-size: 0.7rem;
    }

    .submenu {
        width: 32vh;
        top: 22vh;
        font-size: 0.7rem;
    }

    .header-options {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 8.5vh;
        left: 0rem;
    }

    .header-options>a {
        padding: 0.5rem 0rem 0.5rem 1rem;
        font-size: 0.8rem;
        margin: 0rem;
        justify-content: start;
    }

    .op-default>img {
        height: 1rem;
        margin: 0rem;
    }

    .samples{
        margin-top: 0.5rem;

    }
    
    .samples > img{
        height: 2rem;
        margin-bottom: 0.5rem;
    }

    .samples > p {
        text-align: center;
    }

    .hero {
        flex-direction: column-reverse;
        margin: 0.5rem 0rem 2.5rem 0rem;
        padding: 0rem 1rem;
    }

    .hero-left,
    .hero-rigth {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-rigth>img {
        width: 60%;
        margin-bottom: 1rem;
    }

    .align-left,
    .align-rigth {
        width: auto;
        padding: 10vh 4vh;
        background-color: #00000025;
    }

    .background-gym,
    .background-tech,
    .background-makeup, .background-xid {
        height: 48.5vh;
    }

    .contact {
        padding: 3rem 2rem;
        margin: 5rem 0rem 5rem 0rem;
    }

    .social>a {
        margin: 0rem 1rem;
    }

    footer {
        margin-bottom: 1.5rem;
    }

    .about-like {
        display: flex;
        align-items: center;
        padding: 3rem 1rem;
        margin: 4rem 0rem;
        text-align: center;
    }

    .close {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .figma>iframe {
        margin-top: 2rem;
        width: 90%;
        height: 80vh;
    }


    .proyect {
        padding: 0rem 1rem 4rem 1rem;
    }
}